{
  "openapi": "3.0.1",
  "info": {
    "title": "Plato API",
    "description": "Plato API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.plato.so"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/start-session": {
      "post": {
        "description": "Creates and starts a new browser session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cookies": {
                    "type": "object",
                    "description": "Cookies to set in the browser session"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser session response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/NewBrowserSession"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/end-session": {
      "post": {
        "description": "Ends a browser session",
        "requestBody": {
          "description": "The ID of the browser session to end",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session_id": {
                    "description": "The ID of the browser session to end",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser session ended"
          }
        }
      }
    },
    "/click": {
      "post": {
        "description": "Clicks an element with a given description",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/type": {
      "post": {
        "description": "Type text on the page",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/navigate": {
      "post": {
        "description": "Navigate to a URL",
        "requestBody": {
          "description": "The URL to navigate to",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "description": "Extract data from the page in the provided structure",
        "requestBody": {
          "description": "The structure of the data to extract",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/ExtractSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/task": {
      "post": {
        "description": "Runs a task in a browser session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session_id": {
                    "description": "The ID of the browser session to run the task in",
                    "type": "string"
                  },
                  "start_url": {
                    "description": "The URL to start the task at (optional)",
                    "type": "string",
                    "default": "https://google.com"
                  },
                  "task": {
                    "description": "A description of the task to run",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewBrowserSession": {
        "type": "object",
        "properties": {
          "session_id": {
            "description": "The ID of the browser session",
            "type": "string"
          },
          "debug_url": {
            "description": "The debug URL of the browser session",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ExtractSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the parameter"
          },
          "name": {
            "type": "string",
            "description": "Name of the parameter"
          },
          "description": {
            "type": "string",
            "description": "Description of the parameter",
            "default": ""
          },
          "type": {
            "type": "string",
            "description": "Type of the parameter"
          },
          "isArray": {
            "type": "boolean",
            "description": "Whether the parameter is an array",
            "default": false
          },
          "elementHint": {
            "type": "object",
            "description": "Additional hints about array elements",
            "nullable": true
          },
          "subParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractSchema"
            },
            "description": "Nested parameters",
            "nullable": true
          }
        },
        "required": ["name", "type"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
