{
  "openapi": "3.0.1",
  "info": {
    "title": "Plato API",
    "description": "Plato API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://plato.so/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/eval": {
      "post": {
        "description": "Start an evaluation run",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "browserSettings": {
                    "type": "object",
                    "description": "Settings for the browser session",
                    "properties": {
                      "viewport": {
                        "type": "object",
                        "description": "The viewport to use for the browser session",
                        "properties": {
                          "width": {
                            "type": "integer",
                            "description": "The width of the viewport"
                          },
                          "height": {
                            "type": "integer",
                            "description": "The height of the viewport"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser session response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/NewBrowserSession"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/end-session": {
      "post": {
        "description": "Ends a browser session",
        "requestBody": {
          "description": "The ID of the browser session to end",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session_id": {
                    "description": "The ID of the browser session to end",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser session ended"
          }
        }
      }
    },
    "/click": {
      "post": {
        "description": "Clicks an element with a given description",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/type": {
      "post": {
        "description": "Type text on the page",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/navigate": {
      "post": {
        "description": "Navigate to a URL",
        "requestBody": {
          "description": "The URL to navigate to",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "description": "Extract data from the page in the provided structure",
        "requestBody": {
          "description": "The structure of the data to extract",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "response_format": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/task": {
      "post": {
        "description": "Runs a task in a browser session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "session_id": {
                    "description": "The ID of the browser session to run the task in",
                    "type": "string"
                  },
                  "start_url": {
                    "description": "The URL to start the task at (optional)",
                    "type": "string",
                    "default": "https://google.com"
                  },
                  "task": {
                    "description": "A description of the task to run",
                    "type": "string"
                  },
                  "response_format": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewBrowserSession": {
        "type": "object",
        "properties": {
          "connectUrl": {
            "description": "The URL to connect to the browser session",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
